title
{
  background-color: black;
  font-family: Impact;
  text-shadow: 3px 3px blue;
  color: white;
}

body
{
 background-color: black;

}

ul
{
  background-color: black;
  font-family: Impact;
  font-size: 40px;
  text-shadow: 4px 4px grey;
  color: white;
  text-align: left;

}

h1
{
  background-color: black;
  font-family: Impact;
  font-size: 50px;
  text-shadow: 5px 5px grey;
  color: white;
  text-align: center;

}

h2
{


}

p
{

  font-family: Trebuchet MS;
  color: white;
  font-size: 20px;

}